<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.JhcnCheckPlanMapper">
    
    <resultMap type="JhcnCheckPlan" id="JhcnCheckPlanResult">
        <result property="id"    column="id"    />
        <result property="deviceNo"    column="device_no"    />
        <result property="jtNo"    column="jt_no"    />
        <result property="deviceName"    column="device_name"    />
        <result property="deviceType"    column="device_type"    />
        <result property="company"    column="company"    />
        <result property="checkDate"    column="check_date"    />
        <result property="process"    column="process"    />
    </resultMap>

    <sql id="selectJhcnCheckPlanVo">
        select id, device_no, jt_no, device_name, device_type, company, check_date, process from jhcn_check_plan
    </sql>

    <select id="selectJhcnCheckPlanList" parameterType="JhcnCheckPlan" resultMap="JhcnCheckPlanResult">
        <include refid="selectJhcnCheckPlanVo"/>
        <where>  
            <if test="deviceNo != null  and deviceNo != ''"> and device_no = #{deviceNo}</if>
            <if test="jtNo != null  and jtNo != ''"> and jt_no = #{jtNo}</if>
            <if test="deviceName != null  and deviceName != ''"> and device_name like concat('%', #{deviceName}, '%')</if>
            <if test="deviceType != null  and deviceType != ''"> and device_type like concat('%', #{deviceType}, '%')</if>
            <if test="company != null  and company != ''"> and company = #{company}</if>
            <if test="checkDate != null "> and check_date = #{checkDate}</if>
            <if test="process != null  and process != ''"> and process = #{process}</if>
        </where>
    </select>
    
    <select id="selectJhcnCheckPlanById" parameterType="Long" resultMap="JhcnCheckPlanResult">
        <include refid="selectJhcnCheckPlanVo"/>
        where id = #{id}
    </select>

    <insert id="insertJhcnCheckPlan" parameterType="JhcnCheckPlan" useGeneratedKeys="true" keyProperty="id">
        insert into jhcn_check_plan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceNo != null">device_no,</if>
            <if test="jtNo != null">jt_no,</if>
            <if test="deviceName != null">device_name,</if>
            <if test="deviceType != null">device_type,</if>
            <if test="company != null">company,</if>
            <if test="checkDate != null">check_date,</if>
            <if test="process != null">process,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceNo != null">#{deviceNo},</if>
            <if test="jtNo != null">#{jtNo},</if>
            <if test="deviceName != null">#{deviceName},</if>
            <if test="deviceType != null">#{deviceType},</if>
            <if test="company != null">#{company},</if>
            <if test="checkDate != null">#{checkDate},</if>
            <if test="process != null">#{process},</if>
         </trim>
    </insert>

    <update id="updateJhcnCheckPlan" parameterType="JhcnCheckPlan">
        update jhcn_check_plan
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceNo != null">device_no = #{deviceNo},</if>
            <if test="jtNo != null">jt_no = #{jtNo},</if>
            <if test="deviceName != null">device_name = #{deviceName},</if>
            <if test="deviceType != null">device_type = #{deviceType},</if>
            <if test="company != null">company = #{company},</if>
            <if test="checkDate != null">check_date = #{checkDate},</if>
            <if test="process != null">process = #{process},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJhcnCheckPlanById" parameterType="Long">
        delete from jhcn_check_plan where id = #{id}
    </delete>

    <delete id="deleteJhcnCheckPlanByIds" parameterType="String">
        delete from jhcn_check_plan where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>