<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.JhcnSpecificationMapper">
    
    <resultMap type="JhcnSpecification" id="JhcnSpecificationResult">
        <result property="id"    column="id"    />
        <result property="specification"    column="specification"    />
        <result property="num"    column="num"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectJhcnSpecificationVo">
        select id, specification, num, create_time, update_time from jhcn_specification
    </sql>

    <select id="selectJhcnSpecificationList" parameterType="JhcnSpecification" resultMap="JhcnSpecificationResult">
        <include refid="selectJhcnSpecificationVo"/>
        <where>  
            <if test="specification != null  and specification != ''"> and specification like concat('%', #{specification}, '%')</if>
        </where>
    </select>
    
    <select id="selectJhcnSpecificationById" parameterType="Long" resultMap="JhcnSpecificationResult">
        <include refid="selectJhcnSpecificationVo"/>
        where id = #{id}
    </select>

    <insert id="insertJhcnSpecification" parameterType="JhcnSpecification" useGeneratedKeys="true" keyProperty="id">
        insert into jhcn_specification
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="specification != null">specification,</if>
            <if test="num != null">num,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="specification != null">#{specification},</if>
            <if test="num != null">#{num},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateJhcnSpecification" parameterType="JhcnSpecification">
        update jhcn_specification
        <trim prefix="SET" suffixOverrides=",">
            <if test="specification != null">specification = #{specification},</if>
            <if test="num != null">num = #{num},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJhcnSpecificationById" parameterType="Long">
        delete from jhcn_specification where id = #{id}
    </delete>

    <delete id="deleteJhcnSpecificationByIds" parameterType="String">
        delete from jhcn_specification where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>